@import url("https://use.typekit.net/olo1pvf.css");

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../font/Satoshi-Bold.woff2') format('woff2'),
        url('../font/Satoshi-Bold.woff') format('woff'),
        url('../font/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


:root {
    --step--2: clamp(0.99rem, calc(0.93rem + 0.30vw), 1.41rem);
    --step--1: clamp(1.05rem, calc(0.94rem + 0.59vw), 1.88rem);
    --step-0: clamp(1.13rem, calc(0.93rem + 0.98vw), 2.50rem);
    --step-1: clamp(1.20rem, calc(0.90rem + 1.52vw), 3.33rem);
    --step-2: clamp(1.28rem, calc(0.83rem + 2.26vw), 4.44rem);
    --step-3: clamp(1.37rem, calc(0.72rem + 3.25vw), 5.92rem);
    --step-4: clamp(1.46rem, calc(0.54rem + 4.60vw), 7.89rem);
    --step-5: clamp(1.56rem, calc(0.27rem + 6.40vw), 10.52rem);
}

h2 {
    font-family: "arpona", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--step-4);
}

h2,
label,
a,
a>span,
input::placeholder {
    color: #435188
}

a {
    text-decoration: none;
    ;
}

#firstname {
    margin-top: 6%;

}

label,
a>span {

    font-family: 'Satoshi-Bold';
    font-size: var(--step--1)
}

a,
input::placeholder,
input {
    font-size: var(--step--1)
}

.form,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}


input {
    width: clamp(270px, 30vw, 2560px);
    height: clamp(20px, 3vw, 102.4px);
    border: none;
    background-color: inherit;
    border-bottom: #435188 1px solid;
}

form {
    align-items: flex-start;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

aside {
    width: 45vw;

}

aside>img {
    width: 45vw;

}

.form {
    width: 55vw;
}

.register {
    border: none;
    width: clamp(120px, 15vw, 384px);
    height: clamp(40px, 3vw, 180px);
    ;
    background-color: #435188;
    color: #f1f1f1;
    margin: auto;
    margin-top: 6%;

}

.error {
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(270px, 30vw, 2560px);

    gap: 1vw;
    font-size: var(--step--1);
}

.error>p {
    background-color: #AD2D2D;
    padding: 2%;
}

header,
footer {
    display: none;
}

@media (max-width: 700px) {
    aside {
        display: none;
    }
}

@media (max-width: 320px) {
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}