*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Variable.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-VariableItalic.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Satoshi-Light';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Light.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Light.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-LightItalic.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-LightItalic.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Satoshi-Regular';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Regular.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Regular.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Satoshi-Italic';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Italic.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Italic.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Satoshi-Medium';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Medium.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Medium.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-MediumItalic.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Satoshi-Bold';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Bold.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Bold.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-BoldItalic.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Satoshi-Black';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Black.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Black.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-BlackItalic.woff') format('woff'),
            url('/projet-housing-platform-hetic/public/assets/fonts/Satoshi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}

body {
    margin: 0;
    box-sizing: border-box;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    gap: 10px;
    font-family: 'Satoshi-Regular';
    font-size: 16px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
    gap: 10px;
    font-size: 18px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
    gap: 10px;
}
