<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="booking-modified.css">
    <link rel="stylesheet" href="https://use.typekit.net/pji2llj.css">
    <title>Document</title>
</head>
<body>
    <h1>Modifier une réservation</h1>
    <section>
        <div>
            <div class="confirmation">
                <div class="check">
                    <img src="./icons/check.png" alt="">
                </div>
                <span>Votre réservation a été modifiée avec succès ! </span>
            </div>
            <div class="change">
                <h4>Nouvelles dates</h4>
                <div class="new-dates">
                    <p>Mercredi 14 juin - Dimanche 18 juin</p>
                </div>
            </div>
            <div class="overview">
                <h4>Voyageurs</h4>
                <span>1 voyageur</span>
            </div>
            <!-- <input class="btn-submit" type="submit"> -->
        </div>
        <aside>
            <div class="booking-details">
                <div class="sub-details">
                    <div class="arrival">
                        <p id="start">Arrivée</p>
                        <p>14/06/2023</p>
                    </div>
                    <div class="arrival">
                        <p id="stop">Départ</p>
                        <p>18/06/2023</p>
                    </div>
                </div>
                <div class="travelers">
                    <span>Voyageurs</span>
                    <img src="./icons/chevron.png" alt="">
                </div>
                <div class="prices">
                    <div class="price-details">
                        <span>Ancien prix</span>
                        <span>10 079€</span>
                    </div>
                    <div class="price-details">
                        <span>Nouveau prix</span>
                        <span>10 494€</span>
                    </div>
                    <div class="line"></div>
                    <div class="new-price">
                        <span>Différence</span>
                        <span>415€</span>
                    </div>
                </div>
            </div>
        </aside>
    </section>
</body>
</html>