<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dasboard Entretient</title>
    <link rel="stylesheet" href="styles/style3.css">
</head>
<body>
    <div class="table" id="brightness">
        <div class="table_header">
            <h1>Dasboard Entretient des Logements </h1>
            <div class="new">
                <a href="#" onclick="toggle()">New</a>
            </div>
        </div>
        <div class="table_form">
            <table>
                <thead>
                    <tr>
                        <th>Adresse</th>
                        <th>Employé</th>
                        <th>Tâches</th>
                        <th>Date</th>
                        <th>Horaire</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>4 Boulevard Saint-Michel, Paris, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 Boulevard Saint-Michel, Paris, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 Boulevard Saint-Michel, Paris, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 Boulevard Saint-Michel, Paris, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 Boulevard Saint-Michel, Paris, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 Boulevard Saint-Michel, Paris, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 Boulevard Saint-Michel, Paris, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 Boulevard Saint-Michel, Paris, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 BegegegegegegeParis, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 BegegegegegegeParis, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 BegegegegegegeParis, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 BegegegegegegeParis, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4 BegegegegegegeParis, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button type="click" class="delete">Delete</button>
                        </td>
                    </tr>
                         <tr>
                        <td>4 BegegegegegegeParis, 75005</td>
                        <td>Jean-Luc des Moulins</td>
                        <td>Plomberie Salle de Bain</td>
                        <td>14/06/2023</td>
                        <td>13h00 : 16h00</td>
                        <td>
                            <select id="choix_statut">
                                <option value="done"><span>Done</span></option>
                                <option value="undone">Undone</option>
                            </select>
                        </td>
                        <td>
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="popup">
        <div class="wrapper">
        <h1>Formulaire Entretient Logement</h1>
            <img class="close" src="image/croix.png" alt="croix"  onclick="toggle()">
        </div>
            <form class="form">
                <div class="ensemble">
                    <div class="field input">
                        <input type="text" placeholder="Adresse" id="adresse">
                    </div>
                    <div class="field input">
                        <input type="text" placeholder="Date" id="date">
                    </div>
                </div>
                <div class="ensemble">
                    <div class="field input">
                        <input type="text" placeholder="Employe" id="employe">
                    </div>  
                    <div class="field input">
                        <input type="text" placeholder="Horaire" id="horaire">
                    </div>
                </div>
                <div class="ensemble" style="margin-top: 25px;">
                    <div class="field input">
                        <input type="text" placeholder="Taches" id="taches">
                    </div>
                </div>
                <div class="field button">
                    <input type="submit" valuer="Ajouter" onclick="toggle()">
                </div>
            </form>
    </div>
<script src="js/javascript3.js"></script>
</body>
</html>