<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modify-booking.css">
    <link rel="stylesheet" href="https://use.typekit.net/pji2llj.css">
    <title>Modifier votre réservation</title>
</head>
<body>
    <h1>Modifier une réservation</h1>
    <section>
        <form method="POST">
            <div class="change">
                <h4>Dates</h4>
                <div class="change-dates">
                    <input type="text" name="" placeholder="Mercredi 14 juin">
                    <img src="./icons/arrow.png" alt="flèche pointant à droite">
                    <input type="text" name="" placeholder="Dimanche 18 juin">
                    <img src="./icons/calendar.png" alt="calendrier" id="calendar">
                </div>
            </div>
            <div class="overview">
                <h4>Voyageurs</h4>
                <div class="toggle" id="guests">
                    <div class="dropdown">
                        <span id="currentLi">1 voyageur</span>
                        <img src="./icons/chevron.png" alt="chevron bas">
                    </div>
                    <ul class="dropdown-content">
                        <li id="li1">1 voyageur</li>
                        <li id="li2">2 voyageurs</li>
                        <li id="li3">3 voyageurs</li>
                        <li id="li4">4 voyageurs</li>
                    </ul>
                </div>
            </div>
            <!-- <input class="btn-submit" type="submit"> -->
        </form>
        <aside>
            <div class="booking-details">
                <div class="sub-details">
                    <div class="arrival">
                        <p id="start">Arrivée</p>
                        <p>14/06/2023</p>
                    </div>
                    <div class="arrival">
                        <p id="stop">Départ</p>
                        <p>18/06/2023</p>
                    </div>
                </div>
                <div class="travelers">
                    <span>Voyageurs</span>
                    <img src="./icons/chevron.png" alt="">
                </div>
                <div class="prices">
                    <div class="price-details">
                        <span>Ancien prix</span>
                        <span>10 079€</span>
                    </div>
                    <div class="price-details">
                        <span>Nouveau prix</span>
                        <span>10 494€</span>
                    </div>
                    <div class="line"></div>
                    <div class="new-price">
                        <span>Différence</span>
                        <span>415€</span>
                    </div>
                </div>
            </div>
        </aside>
    </section>
    <button class="btn-submit" type="submit"><p>Confirmer</p></button>
    <script src="changeBooking.js"></script>
</body>
</html>