<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="review-added.css">
    <link rel="stylesheet" href="https://use.typekit.net/pji2llj.css">
    <title>Document</title>
</head>
<body>
    <h1>Ajouter un avis</h1>
    <section>
        <div class="confirmation">
            <div class="check">
                <img src="./icons/check.png" alt="">
            </div>
            <span>Votre avis a été ajouté avec succès ! </span>
        </div>
        <button type="submit">Retourner à l'accueil</button>
    </section>
</body>
</html>